/* Шрифты */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../font/OpenSans-Regular.woff2') format('woff2'),
        url('../font/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../font/OpenSans-SemiBold.woff2') format('woff2'),
        url('../font/OpenSans-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../font/OpenSans-Bold.woff2') format('woff2'),
        url('../font/OpenSans-Bold.woff') format('woff');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

/* Общие стили */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-transition-delay: 99999s;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    /* padding: 0 17px; */
}

:root {
    --green: #34c759;
    --orange: #e6b127;
    --red: #f06a4d;
    --firm: #9873ff;
    --grey: #c8c5d1;
    --txt-grey: #b0b0b0;
    --black: #333;
    --background: #f5f5f5;
}

/* Header */
.header__container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
    padding: 0 20px;
    box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32), 0 9px 27px 0 rgba(176, 190, 197, 0.32);
    background: #fff;
    z-index: 10;
}

.header__logo {
    height: 50px;
    margin-right: 53px;
}

.header__form {
    width: 581px;
}

.header__search {
    padding-left: 16px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
}

.header__search::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-grey);
}

/* Main */
.main__container {
    min-height: 87vh;
    /* height: 100vh; */
    background: var(--background);
}

.main__content-container {
    margin: 0 auto;
    padding: 43px 90px;
}

.main__title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
}

/* Таблица */
.main__table {
    width: 100%;
    margin-bottom: 40px;
    border-spacing: 0px 1px;
}

.thead__th {
    height: 35px;
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 5px 5px;
    font-weight: 400;
    font-size: 12px;
    color: var(--txt-grey);
}

.thead__th-id {
    /* width: 115px; */
    width: 96px;
    padding-left: 19px;
    text-align: left;
}

.thead__id,
.thead__fio,
.thead__start,
.thead__changes {
    color: var(--txt-grey);
    transition: color .2s;
    /* white-space: nowrap; */
}

.thead__arrow-sort-start {
    display: inline-block;
    white-space: nowrap;
}

.thead__btn-id,
.thead__btn-fio,
.thead__btn-start,
.thead__btn-changes {
    text-align: left;
    /* white-space: nowrap; */
}

.thead__btn-id {
    white-space: nowrap;
}

.thead__btn-id:hover .thead__id,
.thead__btn-fio:hover .thead__fio,
.thead__btn-start:hover .thead__start,
.thead__btn-changes:hover .thead__changes {
    color: var(--black);
}


.thead__btn-id:active .thead__id,
.thead__btn-fio:active .thead__fio,
.thead__btn-start:active .thead__start,
.thead__btn-changes:active .thead__changes {
    color: var(--firm);
}

.thead__fio-sort {
    font-weight: 600;
    font-size: 10px;
    color: var(--firm);
    white-space: nowrap;
}

.thead__th-fio {
    /* width: 360px; */
    width: 370px;
}

.thead__th-start {
    width: 175px;
}

.thead__th-changes {
    width: 173px;
}

.thead__arrow-sort-id,
.thead__arrow-sort-fio,
.thead__arrow-sort-start,
.thead__arrow-sort-changes {
    transition: transform .2s;
}

.thead__arrow-sort-id_rotate {
    transform: rotate(180deg);
}

.thead__th-contacts {
    width: 160px;
}

.thead__fio-icon-wrap {
    display: inline-block;
}

.main__table-wrap {
    position: relative;
}

.main__table-overlay {
    position: absolute;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    min-height: 350px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.main__overlay-ring {
    animation: ring-spin 700ms infinite linear;
}

@keyframes ring-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.main__table-overlay_hidden {
    display: none;
}

.tbody__td {
    height: 59px;
    vertical-align: middle;
    padding: 5px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
}

.tbody__text-grey {
    color: var(--txt-grey);
}

.tbody__id {
    padding-left: 20px;
    font-size: 12px;
}

.tbody__start-time {
    padding-left: 5px;
}

.tbody__contacts {
    min-width: 130px;
    padding-right: 20px;
}

.tbody__contacts-list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
}

.tbody__contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbody__contacts-item {
    margin-right: 7px;
}

.tbody__contacts-item:nth-child(n+6) {
    padding-top: 7px;
}

.tbody__contacts-item_hidden {
    display: none;
}

.tbody__contacts-img {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity .2s;
}

.tbody__contacts-img:hover {
    opacity: 1;
}

/* Раскрыть контакты иконка */
.tbody__contacts-icon-add {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--firm);
    text-align: center;
    font-weight: 600;
    font-size: 8px;
    line-height: 14px;
    color: var(--black);
    cursor: pointer;
}

.tbody__contacts-icon-add-hidden {
    display: none;
}

.tippy-box {
    padding: 7px 14px;
    border-radius: 0;
    background-color: var(--black);
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}

/* .tippy-content {
    color: blue;
  } */

.tbody__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 32px;
    padding-right: 10px;
}

.tbody__btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.tbody__changes-time {
    padding-left: 7px;
}

.tbody__btn_changes,
.tbody__btn_delete {
    transition: color .2s;
}

.tbody__btn_changes:hover {
    color: var(--firm);
}

.tbody__btn_delete:hover {
    color: var(--red);
}

.tbody__icon-img {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../img/chenges.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.tbody__icon-img-ring {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../img/change-ring.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: ring-spin 700ms infinite linear;
}

.tbody__icon-delete-img {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.tbody__icon-delete-img-ring {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../img/delete-ring.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: ring-spin 700ms infinite linear;
}

@keyframes ring-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.tbody__icon-changes_hidden {
    display: none;
}

.tbody__icon-delete_hidden {
    display: none;
}

/* Кнопка добавления клиента */
.main__btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 216px;
    height: 44px;
    padding: 5px;
    margin: 0 auto;
    color: var(--firm);
    border: 1px solid var(--firm);
    transition: color .2s, background-color .2s;
}

.main__btn-add:hover {
    color: #fff;
    background-color: #b89eff;
}

.main__btn-add svg path {
    transition: fill .2s;
}

.main__btn-add:hover svg path {
    fill: #fff;
}

.main__btn-add:active {
    background-color: #8052ff;
}

.main__btn-add:focus-visible {
    color: var(--grey);
    border-color: var(--grey);
    background-color: #fff;
    outline: none;
}

.main__btn-add:focus-visible svg path {
    fill: var(--grey);
    ;
}

.main__btn-add-text {
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: inherit;
}

/* Модальные окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: opacity .3s, visibility .3s;
}

.modal-visible {
    opacity: 1;
    visibility: visible;
}

.modal__client-delete {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 215px;
    padding: 25px 80px 20px;
    background-color: #fff;
    overflow-y: auto;
}

.modal__client-form {
    position: relative;
    /* top: 20px; */
    width: 450px;
    min-height: 400px;
    padding: 27px 30px 20px;
    background-color: #fff;
    overflow-y: auto;
}

.modal__cross-btn {
    position: absolute;
    top: 21px;
    right: 21px;
    height: 17px;
    transition: fill .2s;
}

.modal__cross:hover path {
    fill: var(--firm);
}

.modal__new-title,
.modal__title {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.modal__delete-title {
    margin-bottom: 15px;
    padding-right: 20px;
}

.modal__new-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.modal__delete-message {
    margin-bottom: 29px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
}

.modal__new-input {
    width: 100%;
    height: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(200, 197, 209, .5);
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
    outline: none;
    background-color: transparent;
    z-index: 100;
}

.modal__new-input:not(.modal__new-lastname) {
    margin-bottom: 32px;
}

.modal__new-lastname {
    margin-bottom: 26px;
}

.modal__new-surname-plch {
    position: absolute;
    top: 83px;
    left: 29px;
}

.modal__new-surname-plch::after,
.modal__new-name-plch::after {
    content: '*';
    padding-left: 0;
    color: var(--firm);
}

.modal__plch {
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-grey);
    transition: transform .2s;
}

.modal__new-name-plch {
    position: absolute;
    top: 140px;
    left: 29px;
}

.modal__new-lastname-plch {
    position: absolute;
    top: 197px;
    left: 29px;
}

.modal__new-input:focus+.modal__plch {
    font-size: 10px;
    transform: translateY(-16px);
}

.modal__plch-top {
    font-size: 10px;
    transform: translateY(-16px);
}

.modal__contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0 -30px 0 -30px;
    background-color: rgba(200, 197, 209, .2);
}

.modal__new-add-contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0 -30px 25px -30px;
    background-color: rgba(200, 197, 209, .2);
    /* transition: padding-bottom .3s, padding-top .3s; */
}

.modal__new-add-contact-wrap_pb {
    padding-bottom: 18px;
}

.modal__contact-wrap-add {
    padding-top: 25px;
}

.modal__new-contact-wrap,
.modal__new-contact-wrap-change {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 60px);
    height: 37px;
    margin-bottom: 16px;
    border: 1px solid var(--grey);
    border-left: none;
}

.modal__change-title {
    display: inline-block;
    margin-right: 6px;
}

.modal__change-id {
    font-weight: 400;
    font-size: 12px;
    color: var(--txt-grey);
}

.choices {
    margin: 0;
    width: 180px;
    height: 37px;
}

.choices__inner,
.is-focused .choices__inner,
.is-open .choices__inner {
    min-height: 37px;
    height: 37px;
    border: 1px solid var(--grey);
    border-radius: 0;
    background-color: #e7e5eb;

}

.choices__inner,
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    background-color: #f4f3f6;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-color: var(--grey);
    border-radius: 0;
    z-index: 1000;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: rgba(231, 229, 235, .5);
}

.choices[data-type*=select-one]::after {
    width: 8px;
    height: 8px;
    top: 44%;
    border: 1px solid var(--firm);
    border-width: 0 0 1px 1px;
    transform: rotate(315deg);
    transition: transform .3s;
}

.choices[data-type*=select-one].is-open:after {
    top: 69%;
    border: 1px solid var(--firm);
    border-width: 0 0 1px 1px;
    transform: rotate(135deg);
}

.is-selected {
    display: none;
  }

.modal__contact-input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal__contact-input {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(200, 197, 209, 0);
}

.modal__contact-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-grey);
}

.modal-delete-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 100%;
    outline: 1px solid var(--grey);
    transition: outline .2s;
}

.modal-delete-btn-wrap_hidden {
    display: none;
}

.modal__new-contact-delete {
    position: relative;
    width: 12px;
    height: 12px;
}

.modal__new-contact-del-svg,
.modal__new-contact-del-svg-hover {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s, visibility .2s;
}

.modal__new-contact-del-svg-hover {
    opacity: 0;
    visibility: hidden;
}

.modal__new-contact-delete:hover .modal__new-contact-del-svg {
    opacity: 0;
    visibility: hidden;
}

.modal__new-contact-delete:hover .modal__new-contact-del-svg-hover {
    opacity: 1;
    visibility: visible;
}

.modal-delete-btn-wrap:has(.modal__new-contact-delete:hover) {
    outline: 1px solid var(--red);
}

.modal__new-add-contact {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    height: 35px;
    color: var(--black);
    transition: color .2s, visibility .2s, opacity .2s;
}

.modal__add-contact-svg,
.modal__add-contact-svg-hover {
    position: absolute;
    top: 11px;
    left: 11px;
    transition: opacity .2s, visibility .2s;
}

.modal__add-contact-svg-hover {
    opacity: 0;
    visibility: hidden;
}

.modal__new-add-contact:hover .modal__add-contact-svg {
    opacity: 0;
    visibility: hidden;

}

.modal__new-add-contact:hover .modal__add-contact-svg-hover {
    opacity: 1;
    visibility: visible;
}

.modal__new-add-contact:hover {
    color: var(--firm);
}

.modal__new-add-contact:disabled {
    opacity: 0.3;
}

.modal__new-add-cross {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid var(--firm);
    border-radius: 50%;
    transition: color .2s, background-color .2s;
}

.modal__new-add-line {
    position: absolute;
    top: 47%;
    left: 29%;
    display: block;
    width: 5px;
    height: 1px;
    background-color: var(--firm);
    transition: color .2s, background-color .2s;
}

.modal__new-add-line:first-child {
    transform: rotate(90deg);
}

.modal__new-add-line::before {
    position: relative;
    content: '';
    display: block;
    left: -1px;
    width: 1px;
    height: 1px;
    background-color: inherit;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


.modal__new-add-line::after {
    position: relative;
    content: '';
    display: block;
    top: -1px;
    left: 5px;
    width: 1px;
    height: 1px;
    background-color: inherit;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.modal__new-add-text {
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    color: inherit;
}

.modal__new-save,
.modal__general-btn {
    align-self: center;
    width: 148px;
    height: 43px;
    margin-bottom: 8px;
    background-color: var(--firm);
    color: #fff;
    transition: background-color .2s;
}

.modal__btn-delete {
    width: 130px;
}

.modal__new-save:hover {
    background-color: #b89eff;
}

.modal__new-save:active {
    background-color: #8052ff;
}

.modal__new-save:focus-visible {
    background-color: var(--grey);
    outline: none;
}

.modal__new-esc,
.modal__delete-esc {
    width: fit-content;
    align-self: center;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--black);
}

/* Костыль */
.modal-new-client-top120 {
top: 120px;
}